# Assignment A4.3 - Parking Estimation
_Subject,_ **Artificial Intelligence**  
_Topic,_ **Machine Learning**  
_Subtopic,_ **Supervised Machine Learning: Regression**  

## Resources
- #### [xlsx file at GitHub](https://github.com/datsoftlyngby/soft2020spring-AI/blob/master/docs/data/parking-estimation.xlsx)
- #### [Youtube Tutorial](https://www.youtube.com/watch?v=J_LnPL3Qg70)

## Content
- #### [Prepare Enviroment](#Prepare-Enviroment)
- #### [Prepare Data](#Prepare-Data)
- #### [Preprocess Data](#Preprocess-Data)
- #### [Regression Model](#Regression-Model)

## Assignment
...

## Prepare Environment
---

In [9]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.preprocessing import PolynomialFeatures
from sklearn import metrics as sm

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Prepare Data
---

### Reading xlsx file

In [10]:
# Input file containing data
file_path = 'data-assets/parking-estimation.xlsx'
df = pd.read_excel(file_path)
df.head()

,Unnamed: 0,Demand estimation using linear regression,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Y,X1,X2,X3,X4
2,City,Number of weekly riders,Price per week,Population of city,Monthly income of riders,Average parking rates per month
3,1,192000,15,1800000,5800,50
4,2,190400,15,1790000,6200,50

### Defining colunms

In [11]:
# Define columns
df.columns = df.iloc[2]
df.head()

2,City,Number of weekly riders,Price per week,Population of city,Monthly income of riders,Average parking rates per month
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Y,X1,X2,X3,X4
2,City,Number of weekly riders,Price per week,Population of city,Monthly income of riders,Average parking rates per month
3,1,192000,15,1800000,5800,50
4,2,190400,15,1790000,6200,50

### Remove unnedded rows

In [12]:
# Remove unnedded rows
df = df.drop(df.index[0:3])
df.head()

2,City,Number of weekly riders,Price per week,Population of city,Monthly income of riders,Average parking rates per month
3,1,192000,15,1800000,5800,50
4,2,190400,15,1790000,6200,50
5,3,191200,15,1780000,6400,60
6,4,177600,25,1778000,6500,60
7,5,176800,25,1750000,6550,60

### Not Documented

In [13]:
df.tail()

2,City,Number of weekly riders,Price per week,Population of city,Monthly income of riders,Average parking rates per month
26,24,123888,98,1595000,15200,175
27,25,126080,87,1590000,15600,175
28,26,151680,77,1600000,16000,190
29,27,152800,63,1610000,16200,200
30,average,160026,49.9259,NaN,NaN,NaN

### Not Documented

In [14]:
# Remove average row
df = df.drop(df.index[-1])
df.tail()

2,City,Number of weekly riders,Price per week,Population of city,Monthly income of riders,Average parking rates per month
25,23,126240,86,1590000,15000,165
26,24,123888,98,1595000,15200,175
27,25,126080,87,1590000,15600,175
28,26,151680,77,1600000,16000,190
29,27,152800,63,1610000,16200,200

### Not Documented

In [15]:
df.describe()

2,City,Number of weekly riders,Price per week,Population of city,Monthly income of riders,Average parking rates per month
count,27,27,27,27,27,27
unique,27,26,13,23,27,17
top,27,161600,40,1590000,14010,75
freq,1,2,5,2,1,3

### Not Documented

In [16]:
# Displays the attribute labels
list(df)

['City ',
 'Number of weekly riders',
 'Price per week',
 'Population of city',
 'Monthly income of riders',
 'Average parking rates per month']

### Not Documented

In [17]:
df = df.apply(pd.to_numeric)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 3 to 29
Data columns (total 6 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   City                             27 non-null     int64
 1   Number of weekly riders          27 non-null     int64
 2   Price per week                   27 non-null     int64
 3   Population of city               27 non-null     int64
 4   Monthly income of riders         27 non-null     int64
 5   Average parking rates per month  27 non-null     int64
dtypes: int64(6)
memory usage: 1.5 KB

## Preprocess Data

In [19]:
# split the set into subsets for training and testing
train_data, test_data = train_test_split(df, train_size =0.8, random_state = 3)

### Not Documented

In [20]:
targets = list(df)

x_train = np.array(train_data[targets[:-1]])
y_train = np.array(train_data[targets[-1]])

x_test = np.array(test_data[targets[:-1]])
y_test = np.array(test_data[targets[-1]])

## Regression Model
---

### Train Model

In [21]:
reg = linear_model.LinearRegression()
reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### Model Accuracy

In [22]:
score = reg.score(x_test, y_test)
score

0.7559728933080729

### Test Model

In [ ]:
test_data = [23, 126240, 86, 1590000, 15000]
prediction = reg.predict(test_data)
prediction

### Store Model

In [ ]:
reg_model_file = './models/regressor.pkl'

# Save now
with open(reg_model_file, 'wb') as f:
    pickle.dump(regressor, f)

### Load Model

In [ ]:
# To load it later for reuse
with open(reg_model_file, 'rb') as f:
    regressor_model = pickle.load(f)

### Use Preloaded Model

In [ ]:
# Test reading from the file
my_prediction = regressor_model.predict()
print(my_prediction)